html,
body {
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  max-width: 100%;
  background-color: #0057b8;
  color: white;
  font-family: montserrat;
  background-color: #dddddd;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  color: #7fb3f1;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

* {
  box-sizing: inherit;
}
